<div class="skill_set">
	<div class="skill_header"><h3><b>Technical Specializations</b></h3></div>

<h4>Development Skills</h4>
<p>Ruby on Rails, HTML5, CSS3, Bootstrap, Javascript, Jquery, Ajax, API's</p>
<hr>
<h4>Devops Skills</h4>
<p>AWS Services, Linux, Apache, Nginx and Shell scripting</p>
<hr>
<h4>Databases</h4>
<p>Postgresql, Mysql, Mongo DB and Sqlite</p>
<hr>
<h4>Tools used</h4>
<p>Git, Bitbucket, Jira, Trello, Asana, Slack, Heroku</p>
<hr>
<h4>Certifications</h4>
<p>AWS Solution Architect - Associate</p>
<p>(Valid from April 6th 2016 to April 6th 2018)</p>
<img src="/assets/aws_cert.png" alt="aws" height="350" width="600">
</div>