<header id="top" class="navbar navbar-anjan-top bs-docs-nav">
    <div class="navbar-header">
    	<h1>Anjan kumar H N</h1>
    </div>
    <a href="https://github.com/anjankumarhn" target="_blank">
    <div class="row follow_me">
    	<div class="col-xs-2">
    		<%= image_tag "github.png", :class=>"github_img" %>
    	</div>
    	<div class="col-xs-10">
    		<h4 style="float:right; color:#fff;text-align:center"> Follow me on <br> <b>GitHub</b></h4>
    	</div>
    </div>
    </a>
</header>